Miguel/practicas/p-ldm-2-5/Doc2.xsd

<?xml version="1.0"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.w3schools.com"
    xmlns="https://www.w3schools.com"
    elementFormDefault="qualified">

    <xs:element name="etiqueta">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="calle" type="xs:string"/>
                <xs:element name="ciudad" type="xs:string"/>
                <xs:element name="pais" type="xs:string"/>
                <xs:element name="codigo" type="xs:integer"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>    